<div class="card bg-light text-black">

  <div class="card-header">{{  action + ' '+ title }}</div>
  <div class="card-body">

    <form (ngSubmit)="doAction()">
      <div class="form-group row">
        <label for="name" class="col-form-label col-sm-2">Nombre:</label>
        <div class="col-sm-6">
          <input name="name" type="text" class="form-control" [(ngModel)]="client.name"/> 
        </div>
      </div>
      <div class="form-group row">
        <label for="surname" class="col-form-label col-sm-2">Apellido:</label>
        <div class="col-sm-6">
          <input name="surname" type="text" class="form-control" [(ngModel)]="client.surname"/> 
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <input name="email"  type="text" class="form-control" [(ngModel)]="client.email"/> 
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" type="submit">{{action}}</button> 
        </div>
      </div>

    </form>

  </div>
</div>