<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

	<script type="text/javascript" th:fragment="javascript">
		$(document).ready(
				
			function() {
				var appContext = $("#appContext").val();
				$("#search_product").autocomplete({
					
					source: function(request, response) {
						
						$.ajax({
							url: appContext + request.term,
							dataType: "json",
							data: {
								term: request.term
							},
							success: function(data) {
								response($.map(data, function(item) {
									return {
										value:item.id,
										label:item.name,
										price: item.price
									}
								} ));
							}
						});
					},
					select : function(event, ui) {
					//	$("#search_product").val(ui.item.label);
						
						if (itemsHelper.hasProduct(ui.item.value)) {
							itemsHelper.incrementQuantity(ui.item.value, ui.item.price);
						} else {
							var line = $("#templateInvoiceItems").html();
							line = line.replace(/{ID}/g, ui.item.value);
							line = line.replace(/{NAME}/g, ui.item.label);
							line = line.replace(/{PRICE}/g, ui.item.price);
							
							$("#loadProductItems tbody").append(line);
							
							itemsHelper.calculateTotalPrice(ui.item.value, ui.item.price, 1);
						}
	
						return false;
					}
				});
				// se elimina la plantilla que estaba oculta.
				$("form").submit(function(){
					return null;
				});
			}
		
		);
		
		var itemsHelper = {
			calculateTotalPrice: function(id, price, quantity) {
				$("#total_price_" + id).html(price * quantity);
				this.totalPrice();
			},
			hasProduct: function(id) {
				var result = false;
				$('input[name="item_id[]"]').each(function() {
					 
					if (id == $(this).val()) {
						result = true;
					}
				})
				 
				return result;
			},
			incrementQuantity : function(id, price) {
				var quantity = $("#quantity_" + id).val()? parseInt($("#quantity_" + id).val()): 0;
				 $("#quantity_" + id).val(++quantity);
				 this.calculateTotalPrice(id, price, quantity);
				 this.totalPrice();
			},
			deleteProductItem : function(id) {
				$("#row_" + id).remove();
				this.totalPrice();
			},
			totalPrice : function() {
				var total = 0;
				$('span[id^="total_price_"]').each(function(){
					total += parseInt($(this).html());
				});
				
				$("#invoiceTotal").html(total);
			}
		}
	</script>
</body>
</html>