 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="layout/layout :: head"><meta charset="UTF-8" /></head>
<body>

	<header th:replace="layout/layout :: header"></header>

	<div class="container py-4">

		<div class="card bg-light " style="width:80rem;">
			<div class="card-header" th:text="${title}"></div>
			<div class="card-body">
				<h4>
					<a sec:authorize="hasRole('ADMIN')" th:href="@{/form}" class="btn btn-primary btn-xs">Crear cliente</a>
					<a th:href="@{'/clients'(format=csv)}"
						class="btn btn-success btn-xs float-right">CSV</a>
				</h4>
				<table class="table table-striped table-bordered">
					<thead class="thead-inverse">
						<tr>
							<th>id</th>
							<th th:text="#{text.client.name}">nombre</th>
							<th th:text="#{text.client.surname}">apellido</th>
							<th th:text="#{text.client.email}">email</th>
							<th th:text="#{text.client.activation.date}">fecha activación</th>
							<th th:text="#{text.client.creation.date}">fecha creación</th>
							<th sec:authorize="hasRole('ADMIN')">editar</th>
							<th sec:authorize="hasRole('ADMIN')">crear factura</th>
							<th sec:authorize="hasRole('ADMIN')">eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="client: ${clientList}">
							<td><a class="btn btn-primary btn-xs" th:href="@{/detail/} + ${client.id}" th:text="${client.id}"></a></td>
							<td th:text="${client.name}"></td>
							<td th:text="${client.surname}"></td>
							<td th:text="${client.email}"></td>
							<td th:text="${client.activationDate}"></td>
							<td th:text="${client.creationDate}"></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-primary btn-xs"
								th:href="@{/form/} + ${client.id}" th:text="'editar'"></a></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-primary btn-xs"
								th:href="@{/invoices/form/} + ${client.id}" th:text="'crear factura'"></a></td>
							<td sec:authorize="hasRole('ADMIN')"><a class="btn btn-danger btn-xs"
								th:href="@{/remove/} + ${client.id}" th:text="'eliminar'"
								onclick="return confirm('Estás seguro que quieres eliminar?');"></a></td>
						</tr>
					</tbody>

				</table>
				<nav th:replace="layout/paginator-nav :: paginator"></nav>
			</div>

		</div>

	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>